@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.cover {
  background-image: url("../src/assets/Homepage-2copy2.jpg");
  height: 250px;
  background-position: center;
  object-fit: cover;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.remove-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.remove-scrollbar {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
